/* vh stand for viewport and it is the visible area of a webpage. This states on 95 percent of the viewport height will be taken by the image */ 
/* background-size: cover will fit the width of the element  */
.header{
    height: 95vh;
    background-image:  linear-gradient( 
        to right bottom,
        rgba($color-primary-light, .8), 
        rgba($color-primary-dark, .8) ), 
    url("../img/hero.jpg");
    background-size: cover; 
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;

    &__logo-box{
        position: absolute; 
        top: 4rem; 
        left: 4rem; 
    }

    &__logo{
        height: 3.5rem;
    }

    /* transform: translate(-50%, -50%); moves the box half is heigh up and half is heigh to the left */ 
    &__text-box{
    position: absolute;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    }
}